body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.chat-container {
    width: 60%;
    margin: 50px auto;
    background: linear-gradient(to bottom,#9fe7ed,#cff6fa, #e1f8fa);
    background-size: cover;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
}

#chat-box {
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: auto;
    border:none solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.user {
    align-self: flex-end;
    background-color: white;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 100px;
    max-width: 70%;
    font-family: monospace;
    color: black;
}

.bot {
    align-self: flex-start;
    background-color: white;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 100px;
    max-width: 70%;
    font-family: monospace;
    color: green;
}

.userInput{
    width: 96%;
    padding: 10px;
    border: solid #ccc;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.input-area{
    display: flex;
    padding: 10px;
    gap: 10px;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border : none;
    outline: none;
}

.input-area button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
    